body {
  margin: 0;
  padding: 0;
  background: white;
}

.darkBody {
  background: black;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 100px;
}

.darkContainer {
  background: black;
}

.image {
  max-width: 340px;
  margin-top: 50px;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}
